/* This file allows you to override default styles in one central location for easier upgrade and maintenance. */


html {
    height: 100%;

    body {

		
        background-repeat: no-repeat;
        height: 100%;

        /*-------------------Admin Menus------------------------*/
        .nav-account-controls {
				
			&{
				right: 0;
			}
			
				.nav>li {
	        		float: none;
	    		}
				    
                .user-avatar .dropdown-menu, .admin-links .dropdown-menu, 
                .dockbar-user-notifications .dropdown-menu, 
                .my-sites .dropdown-menu, .sign-in a {
                    background-color: grey;  
                }

                .user-avatar .dropdown-toggle, .admin-links 
                .dropdown-toggle, .dockbar-user-notifications 
                .dropdown-toggle, .my-sites .dropdown-toggle, 
                .sign-in a{
                    background-color: grey;
                    &:hover{
                        background-color: #00C4FB;
                    }
                }
        }

        /*---------Add, Edit, and Preview Controls---------*/
        .nav-add-controls{
                #_145_addPanel, #_145_previewPanel, 
                #_145_editLayoutPanel {
                        background-color: grey;
                        &:hover {
                                background-color: #00C4FB;
                        }
                }

                .page-edit-controls, .site-add-controls, 
                .page-preview-controls, .toggle-controls{
                        border-radius:6px;
                }
        }

        /*--- Return Body styling for popup menus back to normal --- */

        &.portal-popup {
            background-image:none;
        }
    }
}


/* ---------- Banner ---------- */

/* ---------- Content ---------- */

/* ---------- Footer ---------- */
