/* ---------- Dock bars ---------- */

.dockbar-split .dockbar {
    left: 0;
    right: auto;
}

.nav-account-controls {
				
	&{
		right: 0!important;
	}
	
	.nav>li {
        float: none!important;
  	}
}


/* ---------- Bootstrap overrides ---------- */

.btn-decorator .btn:after {
  -webkit-transform: scale(0, 1);
  -ms-transform: scale(0, 1);
  -o-transform: scale(0, 1);
  transform: scale(0, 1);
  -webkit-transform-origin: center center 0px;
  -moz-transform-origin: center center 0px;
  -ms-transform-origin: center center 0px;
  transform-origin: center center 0px;
  -webkit-transition: all 0.15s ease-out 0s;
  -o-transition: all 0.15s ease-out 0s;
  transition: all 0.15s ease-out 0s;
  border-bottom: 2px solid;
  content: "";
  display: block;
  height: 1px;
  left: -1px;
  margin-top: -3px;
  position: relative;
  top: 3px;
  width: 100%;
}
.btn-decorator .btn:hover:after,
.btn-decorator .btn:focus:after {
  -webkit-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -o-transform: scale(1, 1);
  transform: scale(1, 1);
}

.btn.text-white {
	
    &,
    &:hover,
    &:active,
    &:focus {
        color: #fff;
        border-color: transparent;
        background: none;
    }
    
}

.btn {
    transition: all 0.2s ease-in-out 0s;
}
    

/* ---------- Header ---------- */

.navbar {
    
	min-height: 70px;
    border: none;
    
}

.navbar--transparent {
  opacity: 0;
  filter: alpha(opacity=0);
}

.navbar__menu,
.navbar__brand {
    line-height: 70px;
}
.navbar__wrapper{
  position: fixed;
  width: 100%;
}

.buttons__link {
    padding: 9px 14px;
    text-transform: uppercase;
}

.navbar__items {
    margin-bottom: 0;
}

.navbar__brand-img {
	max-width: 100%;
}

.navbar__wrapper {
    background-color: #2C3E50;
}

.navbar__items .btn{
    border-radius: 0;
}

.navbar__item {
    display: inline-block;
}

.caption h3 {
    font-size: 46px;
    font-family: 'Oxygen', sans-serif;
}

.header__intro .caption {
	padding: 75px 0;
	
    color: #fff;
    text-align-last: center;
}
.navbar__hamburger {
	display: none;
    height: 2px;
    background: #fff;
    width: 20px;
    right: 0;
    position: absolute;
    top: -40px;
}

.navbar__hamburger:before {
    content: "";
    border-top: 2px solid #fff;
    display: block;
    width: 20px;
    position: absolute;
    top: -7px;
    height: 16px;
    border-bottom: 2px solid #fff;
    left: 0px;
}

#topmenu {
	display: none;

	
	
}

.navbar--sticky {
    z-index: 10;
/*    position: fixed;*/
}

/*
#topmenu + nav {
	display: block
	transition-delay: 1s;
	transition: all 2s ease;
}
*/


.navbar__items--login {
    line-height: normal;
    color: #fff;
    padding: 0;
    padding-top: 17px;
}

.navbar__item--logged {
    padding-top: 10px;
}

.navbar__items--login li{
    text-align: right;
}

.navbar__items--login li a{
    color: #fff;
}

.btn.btn-login {
    border: 2px solid #fff;
    text-transform: uppercase;
    
    &:hover {
        border-color: #fff;
        background: #fff;
        color: #2c3e50;
    }
}


#topmenu:checked + nav {
	visibility: visible;
	height: 100vh;
	

}

.top-menu {
	position: relative;
}

.navbar__menu-box {
	height: 0px;
	transition: height 1s ease;
}


footer {
    background-color: #22313F;
    color: #fff;
}

.header__intro {
	padding-top: 90px;
	background-image: url(../images/header-bg.jpg);
	background-repeat: no-repeat;
    background-size: cover;
}


/* CONTENT */



.main-content {
    min-height: calc(100vh - 109px);
}


.landing section {
	min-height: 100vh;
}

.landing .main-gallery {
    min-height: 40vh;
    text-align: center;
    line-height: 40vh;
}
.main-advantage {
	min-height: 60vh;
    text-align: center;
	
	padding-top: 30vh;
}

.main-gallery__description {
    display: inline-block;
    line-height: 20vh;
    padding: 0 20vh;
    background: rgba(0,0,0,0.5);
    color: #fff;
}


.section {
	background-repeat: no-repeat;
/*	background-attachment: fixed;*/
	background-size: cover;
}
.slide {
	background-image: url('../images/bg-parallax-main.jpg');
	
	background-repeat: no-repeat;
	background-size: cover;
}
.section_two {
	background-color: #fff;
	background-image:none;
}
.section_three {
	background-image: url('../images/bg-parallax-contacts-main.jpg');
}

.main-contacts {
    color: #fff;
}


.main-gallery__item {
	background-image: url('../images/bg_cubic.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}


.image-box__image {
    font-size: 50px;
}

/*book page*/

.book-index__list {
	padding-top: 15px;
}

.book-index__list > li {
    padding-left: 15px;
    list-style-type: square;
    list-style-position: inside;
}

.read-button {
    clear: both;
    padding-top: 10px;
}


.read-button button {
    width: 100%;
}

.comments__title {
	padding-bottom: 5px;
    border-bottom: 1px solid #363636;
}

.comment__author {
    color: #737373;
}

.comment__title {
    font-weight: bold;
}

.add-comment__message {
    border-top: 1px solid #d4d4d4;
}

.add-comment__button {
    text-align: left;
    padding: 20px 0;
}

.annotation__description {
    text-align: justify;
}

.annotation {
    background: #f6f6f6;
}

/*img*/

.author-preview__avatar {
    float: left;
    width: 20%;
}

.author-preview__name {
    float: right;
    width: 80%;
    margin-top: 0;
}

.comment__image {
    float: left;
    width: 80px;
}


@media all and (max-width:991px) {
    
    .dockbar {
        min-height: 0;
        margin-bottom: 0;
    }
    
	.navbar__hamburger{
		display: block;
	}
	.navbar__item {
		display: block;
		width: 100%;
		text-align: center;
	}
	.navbar__column,
	.navbar__brand {
	    width: 100%;
	}
	.navbar__brand-img {
    	max-width: 90%;
        padding: 10px;
	}
	.navbar__item {
		line-height: 4em;
	}
	.navbar__menu-box {
    	visibility: hidden;
		height: 0px;
	}
	.main-advantage {
		padding-top: 0;
	}
	.main-gallery {
		display: none;
	}
	.image-box {
    	min-height: 20vh;	
	}
    
    .navbar__items {
        padding: 0;
    }
    
    .navbar__items--login li {
        text-align: center;
    }    
    
    .navbar__items--login span {
        display: none;
    }
    .navbar__items--login .logout-link {
        border: 1px dashed #337ab7;
        padding: 5px;
        display: block;
        color: #337ab7;
    }

}

