{{ 
for (var index = 0; index < messages.length ; index++) { 
var message = messages[index];
var textBy = Liferay.Language.get('comment-by') ;
}}
	<div class="comments-comment-row-div">	
		<hr style="padding:0px; margin:0px; width:148px;">		
		<div class="row-fluid comments-subject-div">												
			<div class="user-portrait-div span1">
				<img class="user-portrait" src="{{=message.userPortraitURL}}" />
			</div>
			<div class="span5 comments-header">
				<h6>{{=message.subject}}</h6>												
				<p class="comments-gray-text-font">													
					{{=textBy }}
					<span class="comments-black-text-font">{{=message.userName}}</span>
					{{=moment(message.createDateISO , 'x', Liferay.ThemeDisplay.getLanguageId()).fromNow()}}
				</p>												
			</div>
			{{ if(userHasMessagePermissionsParam || (userIdParam == message.userId)) { }}
				<img class="comments-delete-icon" src="/it-deutsch-theme/images/common/delete.png" 
				onclick="deleteComment({{=objectIdParam}}, {{="'"+classNameParam+"'"}}, {{=message.messageId}})">		
			{{ } }}					
		</div>		
		<div class="row-fluid comments-black-text-font comments-body-div">				
			<div class="span12">
				{{=message.body}}
			</div>
		</div>	
	</div>																				
{{ } }}