<!DOCTYPE html>

#parse ($init)

<html class="$root_css_class" dir="#language ("lang.dir")" lang="$w3c_language_id">

<head>
	<title>$the_title - $company_name</title>
	<meta content="initial-scale=1.0, width=device-width" name="viewport" />
	
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:700,400&amp;subset=cyrillic,latin,greek,vietnamese">
	
	$theme.include($top_head_include)


</head>
 
<body class="$css_class">

<a href="#main-content" id="skip-to-content">#language ("skip-to-content")</a>

$theme.include($body_top_include)

#if ($permissionChecker.isOmniadmin())
    #dockbar()
#end

<header class="navbar navbar--sticky " >
    <div class="navbar__wrapper">
    	<div class="navbar navbar-default">
            <div class="container">
          		<div class="navbar-header">
					<button type="button" class="navbar-toggle spinner-master2" data-toggle="collapse" data-target=".navbar-responsive-collapse">
						<input type="checkbox" id="spinner-form2" />
						<label for="spinner-form2" class="spinner-spin2">
							<div class="spinner2 diagonal part-1"></div>
							<div class="spinner2 horizontal"></div>
							<div class="spinner2 diagonal part-2"></div>
					  	</label>
					</button>
	            	<a class="navbar-brand" href="$site_default_url" title="#language_format ("go-to-x", [$site_name])">
						<img class="navbar__brand-img" alt="$logo_description" src="$site_logo" width="$site_logo_width" />
					</a>
          		</div>
          		<div class="navbar-collapse collapse navbar-responsive-collapse">

					#if ($has_navigation || $is_signed_in)
						#parse ("$full_templates_path/navigation.vm")
					#end

					<!-- user menu -->                
    					<ul class="nav navbar-nav navbar-right navbar-user">
							#if (!$is_signed_in)
								<li class="navbar__item">							
									<a class="buttons__btn btn btn-login text-white" href="$sign_in_url">#language ("login")</a>
								</li>
							#else
								<li class="navbar__item navbar__item--logged">
									<a class="btn btn-link text-white userprofile-link" href="/profile">$user.fullName</a>
								</li>	
								<li class="navbar__item navbar__item--logged">	 
									<span>|</span>
								</li>	
								<li class="navbar__item navbar__item--logged">	 
									<a class="btn btn-link text-white logout-link" href="$sign_out_url">#language ("sign-out")</a>
								</li>
							#end
						</ul>
					<!-- .user menu -->  
							
				</div>
    		</div>
  		</div>
	</div>
</header>

<!-- CONTENT -->

<section id="content" class="main-content">
	<div class="container">
		<!-- If user not signed in, show login window instead of content -->
		#if (!$is_signed_in && $theme_display.ppid != 58)
			#set ($VOID = $velocityPortletPreferences.setValue('display-style', '1'))
			#set ($VOID = $velocityPortletPreferences.setValue('portlet-setup-show-borders', 'false'))
			$theme.runtime("58", "", $velocityPortletPreferences.toString())
			#set ($VOID = $velocityPortletPreferences.reset())
		#else
			$theme.include($content_include)
		#end
	</div>
</section>

$theme.include($body_bottom_include)

$theme.include($bottom_include)

	#js("${themeDisplay.getPathThemeJavaScript()}/bootstrap.min.js")
	
<footer class="section" >
    
    <div class="container">
        <div class="footer row">
            <div class="col-sm-8">
                <p class="mbr-footer__copyright"></p><p>© $dateTool.getYear() ООО «Тюменский институт инженерных систем «Инновация»</p><p></p>
            </div>
            <div class="col-sm-4">
                <p class="mbr-footer__copyright"></p><p>v 0.2</p><p></p>
            </div>
        </div>
    </div>
</footer>


</body>

</html>