/* Under construction page styles */
#content {
	background: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
		url(../images/background.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
}

.aui .navbar {
	margin-bottom: 0;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code,
	form, fieldset, legend, input, textarea, p, blockquote, th, td {
	margin: 0;
	padding: 0;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

fieldset, img {
	border: 0;
}

address, caption, dfn, th, var {
	font-style: normal;
	font-weight: normal;
}

li {
	list-style: none;
}

caption, th {
	text-align: left;
}

h1, h2, h3, h4, h5, h6 {
	font-size: 100%;
	font-weight: normal;
}

@font-face {
	font-family: 'Inspiration';
	src: url('Inspiration.ttf');
}

html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	display: table;
}

html {
	background-color: #08233e;
}

body {
	margin: 0;
	padding: 0;
	color: #fff;
	position: relative;
	font-family: 'Lora', 'serif';
	text-align: center;
}

.under-construction-container {
	margin: 5% auto;
	margin-bottom: 5%;
}

.wrapper {
	/* display: table-cell; */
	text-align: center;
	vertical-align: middle;
	text-shadow: 1px 1.732px 2px rgba(0, 0, 0, 0.5);
}

.centered {
	display: inline-block;
}

.header h1 {
	font-family: 'Inspiration', 'Lora', 'serif';
	font-size: 150px;
	color: #fff;
	margin-top: 10%;
}

.header p.line1 {
	font-size: 20px;
	margin-top: -20px;
	color: #fff;
}

.content {
	text-align: center;
	margin-bottom: 30px;
	margin-top: 15%;
}

.content p {
	font-size: 27px;
	font-weight: 700;
	color: white;
}

.form {
	padding: 0 30%;
	margin-top: -20px;
	float: left;
}

.form p {
	font-size: 20px;
	margin-bottom: 25px;
	color: white;
}

.form a {
	font-size: 20px;
	margin-bottom: 25px;
	text-decoration: underline;
	color: white;
}

.mainform {
	width: 100%;
	padding: 0 0 0 0;
}

.mainform p {
	
}

.field {
	width: 80%;
	margin: 0 auto;
}

.field input {
	-webkit-border-radius: 30px;
	border-radius: 30px;
	background: #fff;
	border-top: none;
	border-left: none;
	font-family: 'Lora', 'serif';
	font-weight: 400;
	border: 2px solid #fff;
	font-size: 16px;
	color: #999;
	float: left;
	padding: 15px 5%;
	width: 86%;
}

.social {
	width: 100%;
	padding: 30px 10%;
}

.social p {
	font-size: 20px;
	letter-spacing: 2px;
}

.social p a {
	color: #ddd;
	font-weight: 700;
	margin: 0 20px;
	text-decoration: none;
}

.social p a:hover {
	text-decoration: none;
	color: #fff;
}

@media only screen and (max-width: 1024px) {
	.header, .content {
		padding: 0px 10%;
	}
	#counter {
		padding: 0 10%;
	}
	.form {
		padding: 0 20%;
	}
}

@media only screen and (max-width: 768px) {
	.header, .content {
		width: 90%;
		padding: 0px 5%;
	}
	.header {
		margin-bottom: 50px;
	}
	.header h1 {
		font-size: 100px;
		color: #fff;
		margin-top: 20%;
	}
	.header p.line1 {
		font-size: 18px;
		font-weight: 300;
		margin-bottom: 10px;
		margin-top: -10px;
	}
	.content p {
		font-size: 23px;
		font-weight: 700;
	}
	.form {
		width: 92%;
		padding: 0 4%;
	}
	.field {
		width: 95%;
		margin: 0 auto;
	}
	.form p {
		font-size: 16px;
		margin-bottom: 25px;
	}
}