#wrap #main {
  padding-bottom: 0px; }

#itd-header-placeholder {
  background: white; }

#wrap {
  background: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(/it-deutsch-portlet/images/login_page_background.jpg);
  background-size: cover;
  background-repeat: no-repeat; }

#portlet_58 {
  max-width: 500px;
  margin: 10% auto;
  background: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65));
  border-radius: 10px;
  padding: 15px; }

#portlet_58 .portlet-body {
  text-align: center; }

#portlet_58 .portlet-content {
  border: none; }

input#_58_login:-webkit-autofill,
input#_58_password:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
  color: black; }

#_58_login,
#_58_password {
  color: white;
  border: none;
  background: none;
  border-radius: 5px;
  border-bottom: 1px solid aquamarine;
  outline: none; }

#portlet_58 .navigation,
#portlet_58 .portlet-topper {
  background: none; }

#portlet_58 .portlet-topper .portlet-title {
  color: white;
  font-size: 1.6em; }

#portlet_58 .portlet-topper .portlet-topper-toolbar .portlet-icon-back {
  color: white;
  font-size: 1.6em;
  font-weight: 400; }

#portlet_58 .btn-sign-in {
  width: 100%;
  max-width: 250px; }

#portlet_58 #socialLoginButtonsSet a {
  outline: none;
  border: none; }

/* #portlet_58 #socialLoginButtonsSet a:hover {
	transform: scale(1.1);
	transition: all .1s ease-in-out;
} */
#portlet_58 .navigation ul {
  display: inline-block; }

.portlet-content .portlet-content-container .portlet-body label {
  color: white;
  font-size: 1.6em !important; }

.portlet-body .navigation a {
  color: white;
  font-weight: 600;
  font-size: 1em; }

.sign-in-btn-container button.btn.btn-primary {
  width: 100%;
  background-color: #0cc523; }

#footer,
#socialButtonsSet {
  display: none; }

@media (min-height: 768px) {
  body {
    overflow: hidden !important; } }

