<!DOCTYPE html>

#parse ($init)

<html class="$root_css_class" dir="#language ("lang.dir")" lang="$w3c_language_id">

<head>
	<title>$the_title - $company_name</title>
	<meta content="initial-scale=1.0, width=device-width" name="viewport" />
	
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:700,400&amp;subset=cyrillic,latin,greek,vietnamese">
	
	$theme.include($top_head_include)
	

</head>
 
<body class="$css_class">

<a href="#main-content" id="skip-to-content">#language ("skip-to-content")</a>

$theme.include($body_top_include)

#dockbar()

<header class="navbar navbar--sticky " >
    <div class="navbar__wrapper">
        <div class="container top-menu">
               
            <div class="col-md-3 navbar__column navbar__brand">
            	<span class="brand__logo">
	            	<a href="/" title="#language_format ("go-to-x", [$site_name])">
						<img class="navbar__brand-img" alt="$logo_description" src="$site_logo" width="$site_logo_width" />
					</a>
            	</span>
            </div>


            <div class="col-md-9 navbar__column navbar__menu">
               	<label for="topmenu" class="navbar__hamburger hamburger text-white"><span class="hamburger__line"></span></label>
               	<input type="checkbox" id="topmenu">
               		<nav class="navbar__menu-box">
               			<div class="col-md-9 navbar__column">
	                		#if ($has_navigation || $is_signed_in)
								#parse ("$full_templates_path/navigation.vm")
							#end
						</div>
                    	<div class="col-md-3 navbar__column">
							<ul class="navbar__items navbar__items--right btn-inverse">
								<li class="navbar__item">
									#if (!$is_signed_in)							
										<a class="buttons__btn btn btn-login text-white" href="$sign_in_url">#language ("login")</a>
									#else
										#language ("account-link-greeting") $user.fullName
										<a href="$sign_out_url">#language ("sign-out")</a>
									#end
								</li>
							</ul>
                    	</div>
                	</nav>
            </div>
        </div>
    </div>
</header>

<!-- CONTENT -->

<section id="content" class="main-content">
	<div class="container">
		#if ($selectable)
			$theme.include($content_include)
		#else
			$portletDisplay.recycle()

			$portletDisplay.setTitle($the_title)

			$theme.wrapPortlet("portlet.vm", $content_include)
		#end
	</div>
</section>

$theme.include($body_bottom_include)

$theme.include($bottom_include)


<footer class="section" >
    
    <div class="container">
        <div class="footer row">
            <div class="col-sm-12">
                <p class="mbr-footer__copyright"></p><p>© $dateTool.getYear() ООО «Тюменский институт инженерных систем «Инновация»</p><p></p>
            </div>
        </div>
    </div>
</footer>


</body>

</html>